/* line 34, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 35, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 36, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 37, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none;
}

/* line 48, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 50, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222222;
}

/* line 52, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* line 62, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
::-moz-selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

/* line 63, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
::selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

/* line 71, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a {
  color: #0000ee;
}

/* line 72, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a:visited {
  color: #551a8b;
}

/* line 73, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a:hover {
  color: #0066ee;
}

/* line 74, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 77, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 85, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 87, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
b, strong {
  font-weight: bold;
}

/* line 89, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 91, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 93, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 95, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 97, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 100, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 103, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 105, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none;
}

/* line 106, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 108, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 85%;
}

/* line 111, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 112, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 113, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 121, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 122, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 123, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 134, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 138, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 146, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0;
}

/* line 154, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0;
}

/* line 155, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 158, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
label {
  cursor: pointer;
}

/* line 163, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 169, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 173, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 179, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 183, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 187, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 188, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 189, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 193, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 198, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 202, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 210, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 211, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
td {
  vertical-align: top;
}

/* line 6, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_chromeframe.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

@media print {
  /* line 11, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 12, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 13, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 14, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 15, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 16, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 17, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 18, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 19, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 21, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 22, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
@font-face {
  font-family: 'petrasell';
  src: url("../fonts/petrasell.eot");
  src: url("../fonts/petrasell.eot?#iefix") format("embedded-opentype"), url("../fonts/petrasell.woff") format("woff"), url("../fonts/petrasell.ttf") format("truetype"), url("../fonts/petrasell.svg#petrasell") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 41, ../sass/main.scss */
h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}

/* line 44, ../sass/main.scss */
body, html {
  height: 100%;
}

/* line 48, ../sass/main.scss */
body {
  font-family: "adobe-caslon-pro", Georgia, "Times New Roman", sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  color: #444444;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga", "dlig";
  /* EDIT: new syntax for FF 15+ */
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}
@media screen and (min-width: 754px) {
  /* line 48, ../sass/main.scss */
  body {
    font-size: 1.6em;
  }
}

/* line 64, ../sass/main.scss */
.container {
  max-width: 754px;
  margin: 0 auto;
  padding: 0 1em;
}

/* line 69, ../sass/main.scss */
a {
  outline: none;
}

/* line 75, ../sass/main.scss */
body header.splash .inner {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  background: #11a673;
  color: white;
  margin: 10px;
  position: relative;
}
/* line 83, ../sass/main.scss */
body header.splash .inner .container {
  position: relative;
  padding: 1em;
}
/* line 87, ../sass/main.scss */
body header.splash .inner h1 {
  font-size: 2.3em;
  line-height: 1.1em;
  margin: 0 0 1.21em 0;
}
@media screen and (min-width: 754px) {
  /* line 87, ../sass/main.scss */
  body header.splash .inner h1 {
    font-size: 2.53em;
  }
}
/* line 95, ../sass/main.scss */
body header.splash .inner p {
  line-height: 1em;
}
/* line 98, ../sass/main.scss */
body header.splash .inner a {
  color: white;
  text-decoration: none;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
  position: relative;
}
/* line 103, ../sass/main.scss */
body header.splash .inner a:after {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #6fddbf;
  bottom: 0.3em;
}
/* line 112, ../sass/main.scss */
body header.splash .inner a:hover {
  color: #6fddbf;
}
/* line 117, ../sass/main.scss */
body header.splash a.next {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  border: none;
  text-decoration: none;
  color: white;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  font-size: 1em;
}
/* line 127, ../sass/main.scss */
body header.splash a.next:hover {
  color: #6fddbf;
}
/* line 130, ../sass/main.scss */
body header.splash a.next:before {
  content: '\e006';
  -webkit-font-smoothing: antialiased;
  font-family: "petrasell";
  display: block;
  width: 100%;
  line-height: 1em;
  height: 1em;
  font-size: 2.5em;
  margin-left: -0.75em;
}
@media screen and (min-width: 754px) {
  /* line 130, ../sass/main.scss */
  body header.splash a.next:before {
    font-size: 1.6em;
    margin-left: -0.8em;
  }
}
/* line 145, ../sass/main.scss */
body header.splash a.next span {
  display: none;
}
/* line 150, ../sass/main.scss */
body div.picture {
  height: 4.73em;
  background: #e1e1e1 url(../img/petra-small.jpg) no-repeat 50% 0;
}
@media screen and (min-width: 754px) {
  /* line 150, ../sass/main.scss */
  body div.picture {
    height: 10em;
    background: #e1e1e1 url(../img/petra.jpg) no-repeat 50% 0;
  }
}
/* line 158, ../sass/main.scss */
body section.about {
  background: #f6f6f6;
  padding: 5.38em 0;
}
/* line 161, ../sass/main.scss */
body section.about h3 {
  margin: 2.69em 0 1.73em 0;
}
/* line 164, ../sass/main.scss */
body section.about p {
  margin-bottom: 1.15em;
}
/* line 167, ../sass/main.scss */
body section.about section {
  border-bottom: 1px solid gainsboro;
}
/* line 170, ../sass/main.scss */
body section.about ul {
  padding: 0;
  margin: 0 0 2.5em 0;
}
/* line 174, ../sass/main.scss */
body section.about a {
  color: #11a673;
  text-decoration: none;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
  position: relative;
}
/* line 179, ../sass/main.scss */
body section.about a:after {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #11a673;
  bottom: 0.3em;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
/* line 189, ../sass/main.scss */
body section.about a:hover {
  color: #6fddbf;
}
/* line 191, ../sass/main.scss */
body section.about a:hover:after {
  border-color: #6fddbf;
}
/* line 198, ../sass/main.scss */
body section.about .services ul li {
  padding: 0 0 0 1.23em;
  margin: 0;
  list-style: none;
  position: relative;
}
/* line 203, ../sass/main.scss */
body section.about .services ul li:before {
  content: 'â€”';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 214, ../sass/main.scss */
body section.about .work ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 216, ../sass/main.scss */
body section.about .work ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  padding-right: 0.26em;
}
/* line 222, ../sass/main.scss */
body section.about .work ul li a {
  font-family: 'petrasell';
  font-size: 2.3em;
  line-height: 1.1em;
}
@media screen and (min-width: 754px) {
  /* line 222, ../sass/main.scss */
  body section.about .work ul li a {
    font-size: 2.53em;
  }
}
/* line 229, ../sass/main.scss */
body section.about .work ul li a:after {
  border: none;
}
/* line 232, ../sass/main.scss */
body section.about .work ul li a:before {
  speak: none;
  -webkit-font-smoothing: antialiased;
}
/* line 236, ../sass/main.scss */
body section.about .work ul li a span {
  display: none;
}
/* line 239, ../sass/main.scss */
body section.about .work ul li a.linkedin:before {
  content: '\e003';
}
/* line 242, ../sass/main.scss */
body section.about .work ul li a.dribbble:before {
  content: '\e004';
}
/* line 245, ../sass/main.scss */
body section.about .work ul li a.behance:before {
  content: '\e005';
}
/* line 248, ../sass/main.scss */
body section.about .work ul li a.medium:before {
  content: '\e002';
}
/* line 251, ../sass/main.scss */
body section.about .work ul li a.twitter:before {
  content: '\e001';
}
/* line 254, ../sass/main.scss */
body section.about .work ul li a.zappness:before {
  content: '\e000';
}
/* line 261, ../sass/main.scss */
body section.about p.closure {
  margin: 2.69em 0 0 0;
}
/* line 266, ../sass/main.scss */
body footer {
  overflow: hidden;
  *zoom: 1;
  padding: 3.46em 0;
}
/* line 269, ../sass/main.scss */
body footer .col-2 {
  margin-bottom: 1em;
}
@media screen and (min-width: 754px) {
  /* line 269, ../sass/main.scss */
  body footer .col-2 {
    width: 50%;
    float: left;
  }
}
/* line 275, ../sass/main.scss */
body footer .col-2 strong {
  font-size: 1.07em;
}
/* line 279, ../sass/main.scss */
body footer p {
  margin: 0;
}
/* line 282, ../sass/main.scss */
body footer a {
  color: #11a673;
  text-decoration: none;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
/* line 286, ../sass/main.scss */
body footer a:hover {
  color: #6fddbf;
}

/* line 75, ../sass/main.scss */
body.red header.splash .inner {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  background: #eb1d34;
  color: white;
  margin: 10px;
  position: relative;
}
/* line 83, ../sass/main.scss */
body.red header.splash .inner .container {
  position: relative;
  padding: 1em;
}
/* line 87, ../sass/main.scss */
body.red header.splash .inner h1 {
  font-size: 2.3em;
  line-height: 1.1em;
  margin: 0 0 1.21em 0;
}
@media screen and (min-width: 754px) {
  /* line 87, ../sass/main.scss */
  body.red header.splash .inner h1 {
    font-size: 2.53em;
  }
}
/* line 95, ../sass/main.scss */
body.red header.splash .inner p {
  line-height: 1em;
}
/* line 98, ../sass/main.scss */
body.red header.splash .inner a {
  color: white;
  text-decoration: none;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
  position: relative;
}
/* line 103, ../sass/main.scss */
body.red header.splash .inner a:after {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #6fddbf;
  bottom: 0.3em;
}
/* line 112, ../sass/main.scss */
body.red header.splash .inner a:hover {
  color: #6fddbf;
}
/* line 117, ../sass/main.scss */
body.red header.splash a.next {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  border: none;
  text-decoration: none;
  color: white;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  font-size: 1em;
}
/* line 127, ../sass/main.scss */
body.red header.splash a.next:hover {
  color: #6fddbf;
}
/* line 130, ../sass/main.scss */
body.red header.splash a.next:before {
  content: '\e006';
  -webkit-font-smoothing: antialiased;
  font-family: "petrasell";
  display: block;
  width: 100%;
  line-height: 1em;
  height: 1em;
  font-size: 2.5em;
  margin-left: -0.75em;
}
@media screen and (min-width: 754px) {
  /* line 130, ../sass/main.scss */
  body.red header.splash a.next:before {
    font-size: 1.6em;
    margin-left: -0.8em;
  }
}
/* line 145, ../sass/main.scss */
body.red header.splash a.next span {
  display: none;
}
/* line 150, ../sass/main.scss */
body.red div.picture {
  height: 4.73em;
  background: #e1e1e1 url(../img/petra-small.jpg) no-repeat 50% 0;
}
@media screen and (min-width: 754px) {
  /* line 150, ../sass/main.scss */
  body.red div.picture {
    height: 10em;
    background: #e1e1e1 url(../img/petra.jpg) no-repeat 50% 0;
  }
}
/* line 158, ../sass/main.scss */
body.red section.about {
  background: #f6f6f6;
  padding: 5.38em 0;
}
/* line 161, ../sass/main.scss */
body.red section.about h3 {
  margin: 2.69em 0 1.73em 0;
}
/* line 164, ../sass/main.scss */
body.red section.about p {
  margin-bottom: 1.15em;
}
/* line 167, ../sass/main.scss */
body.red section.about section {
  border-bottom: 1px solid gainsboro;
}
/* line 170, ../sass/main.scss */
body.red section.about ul {
  padding: 0;
  margin: 0 0 2.5em 0;
}
/* line 174, ../sass/main.scss */
body.red section.about a {
  color: #eb1d34;
  text-decoration: none;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
  position: relative;
}
/* line 179, ../sass/main.scss */
body.red section.about a:after {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #eb1d34;
  bottom: 0.3em;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
/* line 189, ../sass/main.scss */
body.red section.about a:hover {
  color: #6fddbf;
}
/* line 191, ../sass/main.scss */
body.red section.about a:hover:after {
  border-color: #6fddbf;
}
/* line 198, ../sass/main.scss */
body.red section.about .services ul li {
  padding: 0 0 0 1.23em;
  margin: 0;
  list-style: none;
  position: relative;
}
/* line 203, ../sass/main.scss */
body.red section.about .services ul li:before {
  content: 'â€”';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 214, ../sass/main.scss */
body.red section.about .work ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 216, ../sass/main.scss */
body.red section.about .work ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  padding-right: 0.26em;
}
/* line 222, ../sass/main.scss */
body.red section.about .work ul li a {
  font-family: 'petrasell';
  font-size: 2.3em;
  line-height: 1.1em;
}
@media screen and (min-width: 754px) {
  /* line 222, ../sass/main.scss */
  body.red section.about .work ul li a {
    font-size: 2.53em;
  }
}
/* line 229, ../sass/main.scss */
body.red section.about .work ul li a:after {
  border: none;
}
/* line 232, ../sass/main.scss */
body.red section.about .work ul li a:before {
  speak: none;
  -webkit-font-smoothing: antialiased;
}
/* line 236, ../sass/main.scss */
body.red section.about .work ul li a span {
  display: none;
}
/* line 239, ../sass/main.scss */
body.red section.about .work ul li a.linkedin:before {
  content: '\e003';
}
/* line 242, ../sass/main.scss */
body.red section.about .work ul li a.dribbble:before {
  content: '\e004';
}
/* line 245, ../sass/main.scss */
body.red section.about .work ul li a.behance:before {
  content: '\e005';
}
/* line 248, ../sass/main.scss */
body.red section.about .work ul li a.medium:before {
  content: '\e002';
}
/* line 251, ../sass/main.scss */
body.red section.about .work ul li a.twitter:before {
  content: '\e001';
}
/* line 254, ../sass/main.scss */
body.red section.about .work ul li a.zappness:before {
  content: '\e000';
}
/* line 261, ../sass/main.scss */
body.red section.about p.closure {
  margin: 2.69em 0 0 0;
}
/* line 266, ../sass/main.scss */
body.red footer {
  overflow: hidden;
  *zoom: 1;
  padding: 3.46em 0;
}
/* line 269, ../sass/main.scss */
body.red footer .col-2 {
  margin-bottom: 1em;
}
@media screen and (min-width: 754px) {
  /* line 269, ../sass/main.scss */
  body.red footer .col-2 {
    width: 50%;
    float: left;
  }
}
/* line 275, ../sass/main.scss */
body.red footer .col-2 strong {
  font-size: 1.07em;
}
/* line 279, ../sass/main.scss */
body.red footer p {
  margin: 0;
}
/* line 282, ../sass/main.scss */
body.red footer a {
  color: #eb1d34;
  text-decoration: none;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
/* line 286, ../sass/main.scss */
body.red footer a:hover {
  color: #6fddbf;
}

/* line 75, ../sass/main.scss */
body.orange header.splash .inner {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  background: #e16649;
  color: white;
  margin: 10px;
  position: relative;
}
/* line 83, ../sass/main.scss */
body.orange header.splash .inner .container {
  position: relative;
  padding: 1em;
}
/* line 87, ../sass/main.scss */
body.orange header.splash .inner h1 {
  font-size: 2.3em;
  line-height: 1.1em;
  margin: 0 0 1.21em 0;
}
@media screen and (min-width: 754px) {
  /* line 87, ../sass/main.scss */
  body.orange header.splash .inner h1 {
    font-size: 2.53em;
  }
}
/* line 95, ../sass/main.scss */
body.orange header.splash .inner p {
  line-height: 1em;
}
/* line 98, ../sass/main.scss */
body.orange header.splash .inner a {
  color: white;
  text-decoration: none;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
  position: relative;
}
/* line 103, ../sass/main.scss */
body.orange header.splash .inner a:after {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #6fddbf;
  bottom: 0.3em;
}
/* line 112, ../sass/main.scss */
body.orange header.splash .inner a:hover {
  color: #6fddbf;
}
/* line 117, ../sass/main.scss */
body.orange header.splash a.next {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  border: none;
  text-decoration: none;
  color: white;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  font-size: 1em;
}
/* line 127, ../sass/main.scss */
body.orange header.splash a.next:hover {
  color: #6fddbf;
}
/* line 130, ../sass/main.scss */
body.orange header.splash a.next:before {
  content: '\e006';
  -webkit-font-smoothing: antialiased;
  font-family: "petrasell";
  display: block;
  width: 100%;
  line-height: 1em;
  height: 1em;
  font-size: 2.5em;
  margin-left: -0.75em;
}
@media screen and (min-width: 754px) {
  /* line 130, ../sass/main.scss */
  body.orange header.splash a.next:before {
    font-size: 1.6em;
    margin-left: -0.8em;
  }
}
/* line 145, ../sass/main.scss */
body.orange header.splash a.next span {
  display: none;
}
/* line 150, ../sass/main.scss */
body.orange div.picture {
  height: 4.73em;
  background: #e1e1e1 url(../img/petra-small.jpg) no-repeat 50% 0;
}
@media screen and (min-width: 754px) {
  /* line 150, ../sass/main.scss */
  body.orange div.picture {
    height: 10em;
    background: #e1e1e1 url(../img/petra.jpg) no-repeat 50% 0;
  }
}
/* line 158, ../sass/main.scss */
body.orange section.about {
  background: #f6f6f6;
  padding: 5.38em 0;
}
/* line 161, ../sass/main.scss */
body.orange section.about h3 {
  margin: 2.69em 0 1.73em 0;
}
/* line 164, ../sass/main.scss */
body.orange section.about p {
  margin-bottom: 1.15em;
}
/* line 167, ../sass/main.scss */
body.orange section.about section {
  border-bottom: 1px solid gainsboro;
}
/* line 170, ../sass/main.scss */
body.orange section.about ul {
  padding: 0;
  margin: 0 0 2.5em 0;
}
/* line 174, ../sass/main.scss */
body.orange section.about a {
  color: #e16649;
  text-decoration: none;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
  position: relative;
}
/* line 179, ../sass/main.scss */
body.orange section.about a:after {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #e16649;
  bottom: 0.3em;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
/* line 189, ../sass/main.scss */
body.orange section.about a:hover {
  color: #6fddbf;
}
/* line 191, ../sass/main.scss */
body.orange section.about a:hover:after {
  border-color: #6fddbf;
}
/* line 198, ../sass/main.scss */
body.orange section.about .services ul li {
  padding: 0 0 0 1.23em;
  margin: 0;
  list-style: none;
  position: relative;
}
/* line 203, ../sass/main.scss */
body.orange section.about .services ul li:before {
  content: 'â€”';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 214, ../sass/main.scss */
body.orange section.about .work ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 216, ../sass/main.scss */
body.orange section.about .work ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  padding-right: 0.26em;
}
/* line 222, ../sass/main.scss */
body.orange section.about .work ul li a {
  font-family: 'petrasell';
  font-size: 2.3em;
  line-height: 1.1em;
}
@media screen and (min-width: 754px) {
  /* line 222, ../sass/main.scss */
  body.orange section.about .work ul li a {
    font-size: 2.53em;
  }
}
/* line 229, ../sass/main.scss */
body.orange section.about .work ul li a:after {
  border: none;
}
/* line 232, ../sass/main.scss */
body.orange section.about .work ul li a:before {
  speak: none;
  -webkit-font-smoothing: antialiased;
}
/* line 236, ../sass/main.scss */
body.orange section.about .work ul li a span {
  display: none;
}
/* line 239, ../sass/main.scss */
body.orange section.about .work ul li a.linkedin:before {
  content: '\e003';
}
/* line 242, ../sass/main.scss */
body.orange section.about .work ul li a.dribbble:before {
  content: '\e004';
}
/* line 245, ../sass/main.scss */
body.orange section.about .work ul li a.behance:before {
  content: '\e005';
}
/* line 248, ../sass/main.scss */
body.orange section.about .work ul li a.medium:before {
  content: '\e002';
}
/* line 251, ../sass/main.scss */
body.orange section.about .work ul li a.twitter:before {
  content: '\e001';
}
/* line 254, ../sass/main.scss */
body.orange section.about .work ul li a.zappness:before {
  content: '\e000';
}
/* line 261, ../sass/main.scss */
body.orange section.about p.closure {
  margin: 2.69em 0 0 0;
}
/* line 266, ../sass/main.scss */
body.orange footer {
  overflow: hidden;
  *zoom: 1;
  padding: 3.46em 0;
}
/* line 269, ../sass/main.scss */
body.orange footer .col-2 {
  margin-bottom: 1em;
}
@media screen and (min-width: 754px) {
  /* line 269, ../sass/main.scss */
  body.orange footer .col-2 {
    width: 50%;
    float: left;
  }
}
/* line 275, ../sass/main.scss */
body.orange footer .col-2 strong {
  font-size: 1.07em;
}
/* line 279, ../sass/main.scss */
body.orange footer p {
  margin: 0;
}
/* line 282, ../sass/main.scss */
body.orange footer a {
  color: #e16649;
  text-decoration: none;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
/* line 286, ../sass/main.scss */
body.orange footer a:hover {
  color: #6fddbf;
}

/* line 75, ../sass/main.scss */
body.blue header.splash .inner {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  background: #2b9bbf;
  color: white;
  margin: 10px;
  position: relative;
}
/* line 83, ../sass/main.scss */
body.blue header.splash .inner .container {
  position: relative;
  padding: 1em;
}
/* line 87, ../sass/main.scss */
body.blue header.splash .inner h1 {
  font-size: 2.3em;
  line-height: 1.1em;
  margin: 0 0 1.21em 0;
}
@media screen and (min-width: 754px) {
  /* line 87, ../sass/main.scss */
  body.blue header.splash .inner h1 {
    font-size: 2.53em;
  }
}
/* line 95, ../sass/main.scss */
body.blue header.splash .inner p {
  line-height: 1em;
}
/* line 98, ../sass/main.scss */
body.blue header.splash .inner a {
  color: white;
  text-decoration: none;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
  position: relative;
}
/* line 103, ../sass/main.scss */
body.blue header.splash .inner a:after {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #6fddbf;
  bottom: 0.3em;
}
/* line 112, ../sass/main.scss */
body.blue header.splash .inner a:hover {
  color: #6fddbf;
}
/* line 117, ../sass/main.scss */
body.blue header.splash a.next {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  border: none;
  text-decoration: none;
  color: white;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  font-size: 1em;
}
/* line 127, ../sass/main.scss */
body.blue header.splash a.next:hover {
  color: #6fddbf;
}
/* line 130, ../sass/main.scss */
body.blue header.splash a.next:before {
  content: '\e006';
  -webkit-font-smoothing: antialiased;
  font-family: "petrasell";
  display: block;
  width: 100%;
  line-height: 1em;
  height: 1em;
  font-size: 2.5em;
  margin-left: -0.75em;
}
@media screen and (min-width: 754px) {
  /* line 130, ../sass/main.scss */
  body.blue header.splash a.next:before {
    font-size: 1.6em;
    margin-left: -0.8em;
  }
}
/* line 145, ../sass/main.scss */
body.blue header.splash a.next span {
  display: none;
}
/* line 150, ../sass/main.scss */
body.blue div.picture {
  height: 4.73em;
  background: #e1e1e1 url(../img/petra-small.jpg) no-repeat 50% 0;
}
@media screen and (min-width: 754px) {
  /* line 150, ../sass/main.scss */
  body.blue div.picture {
    height: 10em;
    background: #e1e1e1 url(../img/petra.jpg) no-repeat 50% 0;
  }
}
/* line 158, ../sass/main.scss */
body.blue section.about {
  background: #f6f6f6;
  padding: 5.38em 0;
}
/* line 161, ../sass/main.scss */
body.blue section.about h3 {
  margin: 2.69em 0 1.73em 0;
}
/* line 164, ../sass/main.scss */
body.blue section.about p {
  margin-bottom: 1.15em;
}
/* line 167, ../sass/main.scss */
body.blue section.about section {
  border-bottom: 1px solid gainsboro;
}
/* line 170, ../sass/main.scss */
body.blue section.about ul {
  padding: 0;
  margin: 0 0 2.5em 0;
}
/* line 174, ../sass/main.scss */
body.blue section.about a {
  color: #2b9bbf;
  text-decoration: none;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
  position: relative;
}
/* line 179, ../sass/main.scss */
body.blue section.about a:after {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #2b9bbf;
  bottom: 0.3em;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
/* line 189, ../sass/main.scss */
body.blue section.about a:hover {
  color: #6fddbf;
}
/* line 191, ../sass/main.scss */
body.blue section.about a:hover:after {
  border-color: #6fddbf;
}
/* line 198, ../sass/main.scss */
body.blue section.about .services ul li {
  padding: 0 0 0 1.23em;
  margin: 0;
  list-style: none;
  position: relative;
}
/* line 203, ../sass/main.scss */
body.blue section.about .services ul li:before {
  content: 'â€”';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 214, ../sass/main.scss */
body.blue section.about .work ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 216, ../sass/main.scss */
body.blue section.about .work ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  padding-right: 0.26em;
}
/* line 222, ../sass/main.scss */
body.blue section.about .work ul li a {
  font-family: 'petrasell';
  font-size: 2.3em;
  line-height: 1.1em;
}
@media screen and (min-width: 754px) {
  /* line 222, ../sass/main.scss */
  body.blue section.about .work ul li a {
    font-size: 2.53em;
  }
}
/* line 229, ../sass/main.scss */
body.blue section.about .work ul li a:after {
  border: none;
}
/* line 232, ../sass/main.scss */
body.blue section.about .work ul li a:before {
  speak: none;
  -webkit-font-smoothing: antialiased;
}
/* line 236, ../sass/main.scss */
body.blue section.about .work ul li a span {
  display: none;
}
/* line 239, ../sass/main.scss */
body.blue section.about .work ul li a.linkedin:before {
  content: '\e003';
}
/* line 242, ../sass/main.scss */
body.blue section.about .work ul li a.dribbble:before {
  content: '\e004';
}
/* line 245, ../sass/main.scss */
body.blue section.about .work ul li a.behance:before {
  content: '\e005';
}
/* line 248, ../sass/main.scss */
body.blue section.about .work ul li a.medium:before {
  content: '\e002';
}
/* line 251, ../sass/main.scss */
body.blue section.about .work ul li a.twitter:before {
  content: '\e001';
}
/* line 254, ../sass/main.scss */
body.blue section.about .work ul li a.zappness:before {
  content: '\e000';
}
/* line 261, ../sass/main.scss */
body.blue section.about p.closure {
  margin: 2.69em 0 0 0;
}
/* line 266, ../sass/main.scss */
body.blue footer {
  overflow: hidden;
  *zoom: 1;
  padding: 3.46em 0;
}
/* line 269, ../sass/main.scss */
body.blue footer .col-2 {
  margin-bottom: 1em;
}
@media screen and (min-width: 754px) {
  /* line 269, ../sass/main.scss */
  body.blue footer .col-2 {
    width: 50%;
    float: left;
  }
}
/* line 275, ../sass/main.scss */
body.blue footer .col-2 strong {
  font-size: 1.07em;
}
/* line 279, ../sass/main.scss */
body.blue footer p {
  margin: 0;
}
/* line 282, ../sass/main.scss */
body.blue footer a {
  color: #2b9bbf;
  text-decoration: none;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
/* line 286, ../sass/main.scss */
body.blue footer a:hover {
  color: #6fddbf;
}

/* line 75, ../sass/main.scss */
body.purple header.splash .inner {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  background: #3a3ca2;
  color: white;
  margin: 10px;
  position: relative;
}
/* line 83, ../sass/main.scss */
body.purple header.splash .inner .container {
  position: relative;
  padding: 1em;
}
/* line 87, ../sass/main.scss */
body.purple header.splash .inner h1 {
  font-size: 2.3em;
  line-height: 1.1em;
  margin: 0 0 1.21em 0;
}
@media screen and (min-width: 754px) {
  /* line 87, ../sass/main.scss */
  body.purple header.splash .inner h1 {
    font-size: 2.53em;
  }
}
/* line 95, ../sass/main.scss */
body.purple header.splash .inner p {
  line-height: 1em;
}
/* line 98, ../sass/main.scss */
body.purple header.splash .inner a {
  color: white;
  text-decoration: none;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
  position: relative;
}
/* line 103, ../sass/main.scss */
body.purple header.splash .inner a:after {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #6fddbf;
  bottom: 0.3em;
}
/* line 112, ../sass/main.scss */
body.purple header.splash .inner a:hover {
  color: #6fddbf;
}
/* line 117, ../sass/main.scss */
body.purple header.splash a.next {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  border: none;
  text-decoration: none;
  color: white;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  font-size: 1em;
}
/* line 127, ../sass/main.scss */
body.purple header.splash a.next:hover {
  color: #6fddbf;
}
/* line 130, ../sass/main.scss */
body.purple header.splash a.next:before {
  content: '\e006';
  -webkit-font-smoothing: antialiased;
  font-family: "petrasell";
  display: block;
  width: 100%;
  line-height: 1em;
  height: 1em;
  font-size: 2.5em;
  margin-left: -0.75em;
}
@media screen and (min-width: 754px) {
  /* line 130, ../sass/main.scss */
  body.purple header.splash a.next:before {
    font-size: 1.6em;
    margin-left: -0.8em;
  }
}
/* line 145, ../sass/main.scss */
body.purple header.splash a.next span {
  display: none;
}
/* line 150, ../sass/main.scss */
body.purple div.picture {
  height: 4.73em;
  background: #e1e1e1 url(../img/petra-small.jpg) no-repeat 50% 0;
}
@media screen and (min-width: 754px) {
  /* line 150, ../sass/main.scss */
  body.purple div.picture {
    height: 10em;
    background: #e1e1e1 url(../img/petra.jpg) no-repeat 50% 0;
  }
}
/* line 158, ../sass/main.scss */
body.purple section.about {
  background: #f6f6f6;
  padding: 5.38em 0;
}
/* line 161, ../sass/main.scss */
body.purple section.about h3 {
  margin: 2.69em 0 1.73em 0;
}
/* line 164, ../sass/main.scss */
body.purple section.about p {
  margin-bottom: 1.15em;
}
/* line 167, ../sass/main.scss */
body.purple section.about section {
  border-bottom: 1px solid gainsboro;
}
/* line 170, ../sass/main.scss */
body.purple section.about ul {
  padding: 0;
  margin: 0 0 2.5em 0;
}
/* line 174, ../sass/main.scss */
body.purple section.about a {
  color: #3a3ca2;
  text-decoration: none;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
  position: relative;
}
/* line 179, ../sass/main.scss */
body.purple section.about a:after {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #3a3ca2;
  bottom: 0.3em;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
/* line 189, ../sass/main.scss */
body.purple section.about a:hover {
  color: #6fddbf;
}
/* line 191, ../sass/main.scss */
body.purple section.about a:hover:after {
  border-color: #6fddbf;
}
/* line 198, ../sass/main.scss */
body.purple section.about .services ul li {
  padding: 0 0 0 1.23em;
  margin: 0;
  list-style: none;
  position: relative;
}
/* line 203, ../sass/main.scss */
body.purple section.about .services ul li:before {
  content: 'â€”';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 214, ../sass/main.scss */
body.purple section.about .work ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 216, ../sass/main.scss */
body.purple section.about .work ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  padding-right: 0.26em;
}
/* line 222, ../sass/main.scss */
body.purple section.about .work ul li a {
  font-family: 'petrasell';
  font-size: 2.3em;
  line-height: 1.1em;
}
@media screen and (min-width: 754px) {
  /* line 222, ../sass/main.scss */
  body.purple section.about .work ul li a {
    font-size: 2.53em;
  }
}
/* line 229, ../sass/main.scss */
body.purple section.about .work ul li a:after {
  border: none;
}
/* line 232, ../sass/main.scss */
body.purple section.about .work ul li a:before {
  speak: none;
  -webkit-font-smoothing: antialiased;
}
/* line 236, ../sass/main.scss */
body.purple section.about .work ul li a span {
  display: none;
}
/* line 239, ../sass/main.scss */
body.purple section.about .work ul li a.linkedin:before {
  content: '\e003';
}
/* line 242, ../sass/main.scss */
body.purple section.about .work ul li a.dribbble:before {
  content: '\e004';
}
/* line 245, ../sass/main.scss */
body.purple section.about .work ul li a.behance:before {
  content: '\e005';
}
/* line 248, ../sass/main.scss */
body.purple section.about .work ul li a.medium:before {
  content: '\e002';
}
/* line 251, ../sass/main.scss */
body.purple section.about .work ul li a.twitter:before {
  content: '\e001';
}
/* line 254, ../sass/main.scss */
body.purple section.about .work ul li a.zappness:before {
  content: '\e000';
}
/* line 261, ../sass/main.scss */
body.purple section.about p.closure {
  margin: 2.69em 0 0 0;
}
/* line 266, ../sass/main.scss */
body.purple footer {
  overflow: hidden;
  *zoom: 1;
  padding: 3.46em 0;
}
/* line 269, ../sass/main.scss */
body.purple footer .col-2 {
  margin-bottom: 1em;
}
@media screen and (min-width: 754px) {
  /* line 269, ../sass/main.scss */
  body.purple footer .col-2 {
    width: 50%;
    float: left;
  }
}
/* line 275, ../sass/main.scss */
body.purple footer .col-2 strong {
  font-size: 1.07em;
}
/* line 279, ../sass/main.scss */
body.purple footer p {
  margin: 0;
}
/* line 282, ../sass/main.scss */
body.purple footer a {
  color: #3a3ca2;
  text-decoration: none;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
/* line 286, ../sass/main.scss */
body.purple footer a:hover {
  color: #6fddbf;
}

/* line 75, ../sass/main.scss */
body.pink header.splash .inner {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  background: #837b63;
  color: white;
  margin: 10px;
  position: relative;
}
/* line 83, ../sass/main.scss */
body.pink header.splash .inner .container {
  position: relative;
  padding: 1em;
}
/* line 87, ../sass/main.scss */
body.pink header.splash .inner h1 {
  font-size: 2.3em;
  line-height: 1.1em;
  margin: 0 0 1.21em 0;
}
@media screen and (min-width: 754px) {
  /* line 87, ../sass/main.scss */
  body.pink header.splash .inner h1 {
    font-size: 2.53em;
  }
}
/* line 95, ../sass/main.scss */
body.pink header.splash .inner p {
  line-height: 1em;
}
/* line 98, ../sass/main.scss */
body.pink header.splash .inner a {
  color: white;
  text-decoration: none;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
  position: relative;
}
/* line 103, ../sass/main.scss */
body.pink header.splash .inner a:after {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #6fddbf;
  bottom: 0.3em;
}
/* line 112, ../sass/main.scss */
body.pink header.splash .inner a:hover {
  color: #6fddbf;
}
/* line 117, ../sass/main.scss */
body.pink header.splash a.next {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  border: none;
  text-decoration: none;
  color: white;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  font-size: 1em;
}
/* line 127, ../sass/main.scss */
body.pink header.splash a.next:hover {
  color: #6fddbf;
}
/* line 130, ../sass/main.scss */
body.pink header.splash a.next:before {
  content: '\e006';
  -webkit-font-smoothing: antialiased;
  font-family: "petrasell";
  display: block;
  width: 100%;
  line-height: 1em;
  height: 1em;
  font-size: 2.5em;
  margin-left: -0.75em;
}
@media screen and (min-width: 754px) {
  /* line 130, ../sass/main.scss */
  body.pink header.splash a.next:before {
    font-size: 1.6em;
    margin-left: -0.8em;
  }
}
/* line 145, ../sass/main.scss */
body.pink header.splash a.next span {
  display: none;
}
/* line 150, ../sass/main.scss */
body.pink div.picture {
  height: 4.73em;
  background: #e1e1e1 url(../img/petra-small.jpg) no-repeat 50% 0;
}
@media screen and (min-width: 754px) {
  /* line 150, ../sass/main.scss */
  body.pink div.picture {
    height: 10em;
    background: #e1e1e1 url(../img/petra.jpg) no-repeat 50% 0;
  }
}
/* line 158, ../sass/main.scss */
body.pink section.about {
  background: #f6f6f6;
  padding: 5.38em 0;
}
/* line 161, ../sass/main.scss */
body.pink section.about h3 {
  margin: 2.69em 0 1.73em 0;
}
/* line 164, ../sass/main.scss */
body.pink section.about p {
  margin-bottom: 1.15em;
}
/* line 167, ../sass/main.scss */
body.pink section.about section {
  border-bottom: 1px solid gainsboro;
}
/* line 170, ../sass/main.scss */
body.pink section.about ul {
  padding: 0;
  margin: 0 0 2.5em 0;
}
/* line 174, ../sass/main.scss */
body.pink section.about a {
  color: #837b63;
  text-decoration: none;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
  position: relative;
}
/* line 179, ../sass/main.scss */
body.pink section.about a:after {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #837b63;
  bottom: 0.3em;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
/* line 189, ../sass/main.scss */
body.pink section.about a:hover {
  color: #6fddbf;
}
/* line 191, ../sass/main.scss */
body.pink section.about a:hover:after {
  border-color: #6fddbf;
}
/* line 198, ../sass/main.scss */
body.pink section.about .services ul li {
  padding: 0 0 0 1.23em;
  margin: 0;
  list-style: none;
  position: relative;
}
/* line 203, ../sass/main.scss */
body.pink section.about .services ul li:before {
  content: 'â€”';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 214, ../sass/main.scss */
body.pink section.about .work ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 216, ../sass/main.scss */
body.pink section.about .work ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  padding-right: 0.26em;
}
/* line 222, ../sass/main.scss */
body.pink section.about .work ul li a {
  font-family: 'petrasell';
  font-size: 2.3em;
  line-height: 1.1em;
}
@media screen and (min-width: 754px) {
  /* line 222, ../sass/main.scss */
  body.pink section.about .work ul li a {
    font-size: 2.53em;
  }
}
/* line 229, ../sass/main.scss */
body.pink section.about .work ul li a:after {
  border: none;
}
/* line 232, ../sass/main.scss */
body.pink section.about .work ul li a:before {
  speak: none;
  -webkit-font-smoothing: antialiased;
}
/* line 236, ../sass/main.scss */
body.pink section.about .work ul li a span {
  display: none;
}
/* line 239, ../sass/main.scss */
body.pink section.about .work ul li a.linkedin:before {
  content: '\e003';
}
/* line 242, ../sass/main.scss */
body.pink section.about .work ul li a.dribbble:before {
  content: '\e004';
}
/* line 245, ../sass/main.scss */
body.pink section.about .work ul li a.behance:before {
  content: '\e005';
}
/* line 248, ../sass/main.scss */
body.pink section.about .work ul li a.medium:before {
  content: '\e002';
}
/* line 251, ../sass/main.scss */
body.pink section.about .work ul li a.twitter:before {
  content: '\e001';
}
/* line 254, ../sass/main.scss */
body.pink section.about .work ul li a.zappness:before {
  content: '\e000';
}
/* line 261, ../sass/main.scss */
body.pink section.about p.closure {
  margin: 2.69em 0 0 0;
}
/* line 266, ../sass/main.scss */
body.pink footer {
  overflow: hidden;
  *zoom: 1;
  padding: 3.46em 0;
}
/* line 269, ../sass/main.scss */
body.pink footer .col-2 {
  margin-bottom: 1em;
}
@media screen and (min-width: 754px) {
  /* line 269, ../sass/main.scss */
  body.pink footer .col-2 {
    width: 50%;
    float: left;
  }
}
/* line 275, ../sass/main.scss */
body.pink footer .col-2 strong {
  font-size: 1.07em;
}
/* line 279, ../sass/main.scss */
body.pink footer p {
  margin: 0;
}
/* line 282, ../sass/main.scss */
body.pink footer a {
  color: #837b63;
  text-decoration: none;
  -webkit-transition: all linear;
  -webkit-transition-delay: 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
/* line 286, ../sass/main.scss */
body.pink footer a:hover {
  color: #6fddbf;
}
